@font-face {
    font-family: "iconfont";
    src: url('https://dn66.app/fonts/iconfont.eot');
    /* IE9 */
    src: url('https://dn66.app/fonts/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
    url('https://dn66.app/fonts/cf9a6f4799f541e0babdd03007be949f.woff') format('woff2'), url('https://dn66.app/fonts/iconfont.woff') format('woff'), url('https://dn66.app/fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('https://dn66.app/fonts/iconfont.svg') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
    content: "\e651";
}

.icon-top:before {
    content: "\e62e";
}

.icon-pic:before {
    content: "\e719";
}

.icon-back:before {
    content: "\e60c";
}

.icon-video:before {
    content: "\e67a";
}

.icon-zhibo:before {
    content: "\e621";
}