@charset "utf-8";
html {
  width: 100%;
  font-size: 10vw;
  height: 100%;
}
@media screen and (min-width: 540px) {
  html {
    font-size: 54px;
  }
}
body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: hidden;
  background: linear-gradient(#121927 0%, #1a2234 50%);
  max-width: 540px;
  min-width: 320px;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  /*设置input的css属性：点击时候，设置颜色值为透明*/
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  font-style: normal;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}
:focus {
  outline: 0 !important;
}
ul, li {
  list-style-type: none;
}
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: 0;
}
a {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
}
p {
  margin: 0;
}
i {
  font-style: normal;
}
figure {
  margin: 0
}
img {
  width: 100%;
  height: auto;
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  color: inherit
}
h1, .h1 {
  font-size: .3rem;
  color: #fff;
}
h2, .h2 {
  font-size: .28rem;
}
h3, .h3 {
  font-size: .26rem;
}
h4, .h4 {
  font-size: .24rem;
}
h5, .h5 {
  font-size: .22rem;
}
h6, .h6 {
  font-size: .20rem;
}
[class^="btn-"], [class*="btn-"] {
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  user-select: none;
  transition: color 0.3s, background-color 0.4s;
}
/* **************************************************** */
main {
  position: relative;
  width: 100%;
  min-height: 100%;
  text-align: center;
  background: url(./imgs/bg.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  bottom: 1rem;
  z-index: 9;
}
.content a{
  display:flex;
  justify-content: center;
  margin-top: .3rem;
}
.content button {
  width: 80%;
  font-size: .36rem;
  outline: none;
  background: linear-gradient(0deg, #1d72ce 0, #83b1e6);
  box-shadow: 0 0.02rem 0.14rem 0 rgb(65 137 245);
  border-radius: 1rem;
  padding: .3rem .4rem;
  color: #fff;
}


.graybox {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .6);
            position: fixed;
            top: 0;
            left: 0;
            z-index: 9;
        }

        .popbox {
            width: 80%;
            padding-bottom: 12px;
            border-radius: 15px;
            background: #FFFFff;
            position: absolute;
            left: 50%;
            top: 26%;
            margin-left: -40%;
            margin-right: 40%;
            z-index: 19;
        }

        .poptop {
            width: 100%;
            height: 45px;
            line-height: 45px;
            text-align: center;
            border-bottom: 1px solid #d8d8d8;
            position: relative;
        }

        .poptop h5 {
            font-size: 15px;
            font-weight: 700;
            color: #202020;
        }

        .popcon {
            padding: 0px 20px 0px 20px;
        }

        .popcon .group {
            /*position: relative;*/
            text-align: left; /*设置输入框在当前div中居中显示*/
        }

        .popcon .group input[type="text"] {
            color: #686868;
            font-size: 14px;
        }

        .popcon .group i {
            position: absolute;
            left: 12px;
            top: 28px;
            font-size: 20px;
            color: #bbbbbb;
        }

        .popcon .group span {
            font-size: 14px;
            color: #333;
            line-height: 1.38462;
            letter-spacing: 0;
                font-weight: 400;
        }

        .popcon input[type="text"] {
            width: 80%;
            height: 36px;
            line-height: 36px;
            border-radius: 20px;
            margin-top: 12px;
            padding: 0 10px 0 20px;
            border: none;
            background: #f0f0f0;
        }

        .popcon input:focus {
            outline: none;
            background: #DDDDDD;
        }

        /*点击输入框之后图标颜色改变*/
        .popcon .group input:focus + i {
            color: #749dcf;
        }

        .popcon input[type="checkbox"] {
            vertical-align: -1px;
            margin-right: -2px;
        }

        .divbtn {
            width: 260px;
            margin: 12px 20px 0px 20px;
        }

        .divbtn .btn {
            display: block;
            float: left;
            width: 120px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            border-radius: 10px;
            font-size: 14px;
            background: #eeeeee;
            color: #464646;
        }

        .divbtn .btn:hover {
            background: #DDDDDD;
        }

        .divbtn .ok {
            background: #749dcf;
            margin-left: 20px;
            color: #FFFFff;
        }

        .divbtn .ok:hover {
            background: #5e8ecf;
        }
